$color-primary: rgb(45, 194, 189);
$color-light: rgb(238, 238, 238);
$color-dark: rgb(48, 48, 48);
$color-white: rgb(255, 255, 255);
$color-error: rgb(239, 62, 54);
$color-light-trans: rgba(48, 48, 48, 48%);
