@import url('https://fonts.googleapis.com/css?family=Roboto:300,400|Ubuntu&display=swap');

* {
  font-family: 'Ubuntu',
    sans-serif;
  padding: 0;
  margin: 0;
  color: $color-dark;

  p {
    font-family: 'Roboto',
      sans-serif;
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.5rem;
    letter-spacing: 0.1ch;
  }
}
