@import url('https://fonts.googleapis.com/css?family=Roboto:300,400|Roboto+Mono|Ubuntu&display=swap');

* {
  font-family: 'Ubuntu',
    sans-serif;
  color: $color-dark;

  p,
  td,
  li {
    font-family: 'Roboto',
      sans-serif;
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.5rem;
    letter-spacing: 0.1ch;
  }

  textarea {
    font-family: 'Roboto Mono',
      monospace;
  }

  code {
    @extend textarea;
    background: $color-light;
    border-radius: 1rem;
    padding: 0rem 0.5rem;
  }

  pre {
    code {
      @extend code;
      display: block;
      padding: 0.5rem 1rem;
      overflow-x: auto;
    }
  }
}
